#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 0;
  background-color: #313030;
  color: #E0E0E0;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;                   
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;   
  padding-left: 1rem;
  padding-right: 1rem;

}

.teen-container {
  border-radius: 12px;
  padding: 1rem;              
  box-sizing: border-box;
  overflow: scroll;
  background-color: #444444;
}

.youth-container {
  border-radius: 12px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: scroll;
  background-color: #444444;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    height: auto;
  }
}